
@font-face {
    font-family: HelveticaCondensed;
    src: url("fonts/HelveticaNeue-CondensedBold.otf");
}
@font-face {
    font-family: bebas;
    src: url("fonts/BebasNeue.otf");
}

/*Logo Of The Website*/
.logo > img
{
	position: fixed;
	z-index: 5;
 	left: 50px;
  	top: 30px;
}

/**********************    Gif Images in Homepage    *************************/

/*In Order to add any Gif image it must be added in the gifs-container 
and give it class gif-image and an id to give it a background-image */
.gifs-container:not(.collapse)
{
	height: 100%;
}
.gif-image
{
	
	background-size: cover;
	background-position: 50% 60%;
	width: 100%;
	height: 100%;
}
.gifs-container .wrapper
{
	width: 100%;
	height: 100%;
}
#gif-1
{
background-image: url("../img/home.png");
}
#gif-2
{
	background-image: url("../img/image2.gif");
}
#gif-3 
{
	background-image: url("../img/image3.gif");
}
#gif-4 
{
	background-image: url("../img/image1.jpg");
}
#gif-5 
{
	background-image: url("../img/image2.gif");
}

/*****************    End Of Gif Images in Homepage  ******************************/

body.collapse
{
	background-color: #3c3b3b;
}

/*Gif Images in Collapse html*/
.gifs-container.collapse
{	
	position: absolute;
	transition: transform 0.5s;
	transform: scale(4);
	transform-origin: 0 0;
}
.gifs-container.collapse.transition
{
	transition: transform 0.5s;
	transform: scale(1.5) translate(200px,150px);
}
.container .gif-image:after
{
	content: "";
	position: absolute;
	height: 95%;
	width: 95%;
	border: 2px solid black;
	top: 2.5%;
	left: 2.5%;
}
.container .gif-image
{
	opacity: 0.2;
}

.gifs-container .container
{
	position: relative;
	width: 402px;
	height: 251px;
	  transition: transform 2s;
	float: left;
	cursor: pointer;
}

.gifs-container .container .text
{
	text-align: center;
	color: #797874;
	font-weight: bold;
	margin-top: 17px;
}

.gifs-container .container.active .gif-image
{
	opacity: 1;
}

.gifs-container .container.active .text
{
	color: white;
}
/**********  Menu Of the Website in the home Page *******************************/

/* menu-outer is used to make the position of the menu and to define the border*/
.menu-outer
{	
  position: fixed;
  top: 50px;
  right: 38px;
  border: solid 2px #706860;
  box-sizing: content-box;
  cursor: pointer;
  z-index: 2;
}
.menu
{
  margin: 2px;
  background-color: #706860;
  padding: 5px 10px;
  color: #f4f3e9;
  font-weight: bold;
}
.menu img
{
	vertical-align: text-top;
}

/********** End Of Menu Of the Website in the home Page **************************/

/*Menu In collapsed html*/

.menu.collapse
{	
	background-color: #f4f3e9;
	color: #706860;
}
.menu-outer.collapse
{
	border-color: #f4f3e9;
}
/*End Of menu in Collapsed View*/

/********* Bullets in the Homepage  **********/
.bullets
{
	position: fixed;
	height: 50px;
	width: 20px;
	top: 250px;
    right: 30px;
}
.bullet 
{	
	cursor: pointer;
	width: 20px;
	height: 18px;
	background-image: url('../img/notSelectedBullet.png');
	background-size: 20px 18px;
}

.bullet.active
{
	background-image: url('../img/selectedBullet.png');
}
.bullets img.dotted-line
{
	margin-left: 8px;
}
/*media Query or Maximum 640 px*/
@media only screen and (max-width: 22.5em) { 

.bullets
{
	right: 20px;
}

}
/*End Of Bullets in the Homepage*/

#circle
{
  border-radius: 50%;
  width: 350px;
  height: 350px;
  background-color: #382744;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  opacity: 0.78;
  text-align: center;
  cursor: pointer;
}

#circle > h3
{
	color: white;
	text-transform: uppercase;
	line-height: 350px;
	font-family: Rockwell;
	font-size: 35px;
	font-weight: bold;
}

#circle > h3 > img
{
	margin-left: 3px;
	margin-top: -5px;
}

/*********************************** End Of Landing Page  **************************************/



body.homepage
{
	background-image: url("../img/texture.png");
}

.gif-container
{
	height: 100%;
}
#gif-1
{
background-image: url("../img/home.png"),url("../img/texture.png");
}
.gif-image
{
	
	background-position: 50% 60%;
	width: 100%;
	height: 100%;
}
.logo > img
{
	position: absolute;
	z-index: 5;
 	left: 50px;
  	top: 30px;
  	width: auto;
}
.menu-outer
{	
  position: absolute;
  top: 50px;
  right: 38px;
  border: solid 2px #706860;
  box-sizing: content-box;
  cursor: pointer;
  z-index: 2;
}
.menu
{
  margin: 2px;
  background-color: #706860;
  padding: 5px 10px;
  color: #f4f3e9;
  font-weight: bold;
}
.menu img
{
	vertical-align: text-top;
}


.services > .header
{
	text-align: center;
	margin-top: 100px;
}

.header > h2
{
	font-family: Rockwell;
	font-weight: bold;
}

.services .row
{
	margin-top: 50px;
}

.services .text p
{
 font-family: 'Rokkitt', serif;
 font-size: 20px;
}

.services .text p span
{
	color: #ec6387;
}
/*#service-logo
{*/
	/*text-align: center;*/
	/*left: 0px;
	margin-left: -50px;
}*/
/*#service-logo img
{
	width: 100%;
	margin-top: 50px;
}*/

/*Media Query for large Screen*/
@media only screen and (min-width: 64.063em) { 

	#service-logo img
{
	width: 100%;
	margin-top: 100px;
}
#service-logo
{
	margin-left: -50px;
}
	}
/*	Media Query for small and Medium*/
@media only screen and (max-width: 64.063em) { 
	#service-logo
{
	text-align: center;
}
.services .text {
	margin-top: 50px;
}

}


.services .button
{
	width: 200px;
	height: 50px;
	background-color: #cfb52f;
	border-radius: 5%;
	text-transform: uppercase;
	font-weight: bold;
	font-stretch: condensed ;
	font-family: HelveticaCondensed;
	position: absolute;
	right: 20%;
	box-shadow: 5px 5px 5px #888888;
	font-size: 20px;
	padding: 14px 0px;
}

.our-featured-work
{
	height: 500px;
}

/*Media Query For Small and Medium Screens*/
@media only screen and (max-width: 64.063em) { 
	.our-featured-work
{
	margin-top: 50px;
}
}

.film-festival
{	padding-bottom: 20px;
	margin-top: 250px;
	background: url("../img/festival.jpg");
	background-size: cover;
}

.film-festival .logo-container
{	
  position: relative;

}
.film-festival .logo-container img
{	
	top: -97px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.film-festival .text-container
{
	float: right;
}


.timer-container
{
   margin-top: 100px;
  margin-left: 150px;
}
.timer-container > h3
{	
	color: white;
	font-size: 60px;
}

.timer-container span {
	 font-family: 'Rokkitt', serif;
	color: #ec6387;
	font-size: 20px;
	 position: relative;
    top: -40px;
}

/*media Query or Maximum 900 px*/
@media only screen and (max-width: 900px) { 

	.film-festival
{	
	background: #33293c;
}

	.film-festival .text-container
{
	width: 100%;
	text-align: center;
}

.timer-container
{
  margin-left: 0px;
}

}

.film-festival h2{
	font-family: Bebas;
	 color: white;
	 font-size: 100px;
}

/*Media Query for Small screens*/
@media only screen and (max-width: 310px) { 
.film-festival h2 {
font-size: 90px;
}
} 
.film-festival h3{
	font-family: 'Rokkitt', serif;
	 color: #c2c2c2;
	 font-size: 40px;
}
.film-festival .text
{	
	/*position: relative;*/
	 font-family: 'Rokkitt', serif;
	 color: #c2c2c2;
	 font-size: 19px;
}

.film-festival .text span
{	
	  font-family: Rockwell;
  color: #d9c032;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#wing-logo
{
  /*margin-left: -50px;*/
  margin-top: 50px;
  /*width: 100%;*/
}

/*yellow is d9c032*/


.team
{
	position: relative;
	background-color: #312739;
	height: 375px;
	margin-top: 100px;
}

.team .top
{	
	/*position: absolute;*/
	/*top: 0px;*/
	/*width: 100%;*/
	height: 20px;
	background-color: #2f2535;
}

.team .header > h2 , .team p , .team .member > h4
{
	color: #e7d5c6;
}

 .team .member > h4
 {
 	font-weight: bold;
 	font-size: 22px;
 	margin-top: 17px;
 }

 .team p
 {
 	font-family: 'Rokkitt', serif;
 	font-size: 20px;
 }

  .team p > span
 {
 	font-family: Rockwell;
 	font-size: 16px;
 	font-weight: bold;
 	cursor: pointer;
 	color: #d9c032;
 }

 .footer
 {
 	/*height: 50px;*/
 	background-color: #2b1c38;
 }
 .footer .text
 {
 	font-family: Rockwell;
 	color: white;
 	font-size: 14px;
 	line-height: 50px;
 }
  .footer .text>span
 {
 	color: #ee6488;
 }

.footer .text ul
{
	list-style: none;
	margin: 0;
}
.footer .text ul li
{
	display: inline;
  line-height: 50px;
  cursor: pointer;
}

.footer .text ul li:hover, .footer .text ul li:visited 
{
	color:#c9af2e;
}


.our-featured-work .row
{
	max-width: none;
}

.unleash_slide 
{
	height: 600px;
	background-size: cover;
	background-position: 50% 30%;
	background-image: url("../img/featured-4.jpg");
	/*opacity: 0.8;*/
}
.unleash_slide#image-1
{
	background-image: url("../img/featured-1.jpg");
}
.unleash_slide#image-2
{
	background-image: url("../img/featured-2.jpg");
}
.unleash_slide#image-3
{
	background-image: url("../img/featured-3.jpg");
}
.unleash_slide#image-4
{
	background-image: url("../img/featured-4.jpg");
}
.unleash_slide#image-5
{
	background-image: url("../img/featured-5.jpg");
}
.unleash_slide#image-6
{
	background-image: url("../img/featured-6.jpg");
}
.unleash_slide#image-7
{
	background-image: url("../img/featured-7.jpg");
}
.slide-header
{
	font-family: Rockwell;
	margin-top: 200px;
	 font-size: 37px;
	 /*color: #f4f3e9;*/
	 color: white;
	 text-align: center;
}
.unleash_slide .project-name
{
	font-family: Rockwell;
	font-weight: bold;
	margin-top: 50px;
	 font-size: 24px;
	 color: #d9c032;
	text-align: center;
}
.unleash_slide .project-name:after
{
	content: "";
	height: 55px;
	width: 55px;
	position: absolute;
	background: url("../img/play.png");
	background-repeat: no-repeat;
	top: 350px;
	/*top: 0px;*/
	left: 0;
	right: 0;
	/*bottom: 0;*/
	margin: auto;
}
.unleash_slide.active:after
{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	/*top: 0;
	left: 0;*/
	background: url("../img/noise.jpg");
	/*background-size: cover;*/
	opacity: 0.05;
	    -webkit-animation: noiseAnim 0.5s infinite linear alternate;
	       -moz-animation: noiseAnim 0.5s infinite linear alternate;
	         -o-animation: noiseAnim 0.5s infinite linear alternate;
	            animation: noiseAnim 0.5s infinite linear alternate;

}

@-webkit-keyframes noiseAnim{
  0%   { background-position: 10px 200px; }
  20%  { background-position: -50px 0; }
  40%  { background-position: 100px -10px; }
  60%  { background-position: 0 -150px; }
  80%  { background-position: -100px -30px; }
  100% { background-position: 160px -60px; }
}
@-moz-keyframes noiseAnim {
  0%   { background-position: 10px 200px; }
  20%  { background-position: -50px 0; }
  40%  { background-position: 100px -10px; }
  60%  { background-position: 0 -150px; }
  80%  { background-position: -100px -30px; }
  100% { background-position: 160px -60px; }
}
@-o-keyframes noiseAnim {
  0%   { background-position: 10px 200px; }
  20%  { background-position: -50px 0; }
  40%  { background-position: 100px -10px; }
  60%  { background-position: 0 -150px; }
  80%  { background-position: -100px -30px; }
  100% { background-position: 160px -60px; }
}
@keyframes noiseAnim {
  0%   { background-position: 10px 200px; }
  20%  { background-position: -50px 0; }
  40%  { background-position: 100px -10px; }
  60%  { background-position: 0 -150px; }
  80%  { background-position: -100px -30px; }
  100% { background-position: 160px -60px; }
}

.unleash_slider
{
	height: 600px;
}

.unleash_slide:after
{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: black;
	opacity: 0.55;
}

/*.unleash_slide.active:after
{
	opacity: 0;
}*/

.icon-left-open-1.unleash_prev
{
	  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 120px;
}
.icon-right-open-1.unleash_next
{
	right: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 120px;
}
.unleash_buttons i
{
	font-size: 80px;
}
.services .text p:nth-of-type(1)
{
	margin-top: 50px;
}




/*	Media Query for small Screens */
@media only screen and (max-width: 40em) { 
.logo > img {
  left: 30px;
  top: 30px;
  width: 80px;
}
#circle {
width: 300px;
height: 300px;
}
#circle > h3 {
line-height: 300px;
	}
.menu-outer {
right: 28px;
}
.menu {
	  padding: 2px 5px;
	}
.header > h2 {
	  font-size: 33px;
	}
.services .button {
  width: 150px;
  height: 40px;
  background-color: #cfb52f;
  border-radius: 5%;
  text-transform: uppercase;
  font-weight: bold;
  font-stretch: condensed;
  font-family: HelveticaCondensed;
  position: absolute;
  right: 20%;
  box-shadow: 5px 5px 5px #888888;
  font-size: 16px;
  padding: 10px 0px;
}
.unleash_slide .project-name:after {
	top: 400px;
}
.services .text p:nth-of-type(1)
{
	margin-top: 0px;
}

.unleash_slider {
  height: 400px;
}
.film-festival
{
	margin-top: 50px;
}

.slide-header {
  margin-top: 60px;
  font-size: 30px;
}
.unleash_slide .project-name {
	margin-top: 20px;
	}
.unleash_slide .project-name:after {
  top: 200px;
}
.unleash_buttons i {
  font-size: 50px;
}
.services .text p {
  line-height: 25px;
}
.services .button {
  right: 0;
  left: 0;
  margin: auto;
  box-shadow: none;
  font-size: 14px;
  margin-top: -20px;
}
#wing-logo {
margin-top: 0px;
	}
#film-wing-container
{
	text-align: center;
}
.services .header > h2 {
  display: none;
}
.film-festival h2 {
font-size: 70px;
	}
.timer-container span {
top: -20px;
	}
.film-festival .text {
line-height: 24px;
  text-align: left;}

.film-festival h3 {
	font-size: 30px;
	  text-align: center;
}
.team
{
	background-color: #2B1C38;
}
.team p {
	line-height: 25px;
	}
	.footer .text {
		font-size: 10px;
}
.footer .text ul {
	font-size: 14px;
	}

}